@page "/mytasks/add"

@inject ITasksRepository _taskService
@inject NavigationManager _navManager

<div class="pt-1">
    <h2>Add a task</h2>
    <TaskForm TaskModel="task" OnValidSubmit="CreateTask"/>
</div>

@code{
    private TaskModel task = new TaskModel();

    public void CreateTask()
    {
        _taskService.AddTask(task);
        _navManager.NavigateTo("mytasks");
    }

}