<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href=""><span class="oi oi-task" aria-hidden="true"></span> BlazorTasks</a>
  <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <NavLink class="nav-link" href="/mytasks">
                <span class="oi oi-list" aria-hidden="true"></span> My Tasks
        </NavLink>        
      </li>      
      <li class="nav-item">
        <NavLink class="nav-link" href="/completed">
                <span class="oi oi-check" aria-hidden="true"></span> Completed
        </NavLink>
      </li>
    </ul>
     <a class="btn btn-outline-light" href="/mytasks/add"><span class="oi oi-plus" aria-hidden="true"></span> Add a task</a>
  </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
